@font-face {
  font-family: "Euclid";
  src: url("/fonts/EuclidFlexEcal-Regular.otf");
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularXXWebTrial-RegularTrial.woff");
}

html,
body {
  margin: 0;
  height: 100vh;
  background: rgb(233, 240, 247);
  /* background: rgb(0); */
  background-color: aliceblue;

  /*center element*/
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Poppins', sans-serif; */
  
  /* font-family: 'Euclid', sans-serif; */
  font-family: 'Jost', sans-serif;
  overflow: hidden;
}


.level{  
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* display: inline; */
  pointer-events: none;
  z-index: 1200;
  text-transform: lowercase;
}

#level{
    /* font-size: 2rem; */
    font-size : min(4vw, 8vh, 2rem);
    position: absolute;
    top:1.5vh;
    left: 50vw;
    transform: translate(-50%);
    transition: opacity 0.4s ; 
}

.active-turn{  
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* display: inline; */
  pointer-events: none;
  z-index: 1200;
  text-transform: lowercase;
}

#active-turn{
    /* font-size: 2rem; */
    font-size : min(4vw, 8vh, 1.8rem);
    position: absolute;
    bottom:1.5vh;
    left: 50vw;
    transform: translate(-50%);
    transition: opacity 0.4s ; 
    /* color: yellow; */
}

#inactive-turn{
  /* font-size: 2rem; */
  font-size : min(4vw, 8vh, 1.8rem);
  position: absolute;
  bottom:1.5vh;
  left: 50vw;
  transform: translate(-50%);
  transition: opacity 0.4s ; 
  /* color: yellow; */
  /* display: none; */
}


#container {
  --cellSize: 0;
  --rows: 11;
  --cols:11;
  width: calc(var(--cols) * var(--cellSize));
  height: calc(var(--rows) * var(--cellSize));
  /* background: black; */
  position: relative;
  /* transform: rotate(45deg) scale(0.9); */
}

.cell {
  --row: 0;
  --angle: 0deg;
  --col: 0;
  position: absolute;
  width: var(--cellSize);
  height: var(--cellSize);
  top: calc(var(--row) * var(--cellSize));
  left: calc(var(--col) * var(--cellSize));
  /* transform: translate(calc(var(--col) * var(--cellSize)), ); */
  background: black;
  overflow: hidden;
  transform: rotateZ(var(--angle));
  transition: transform 0.5s;

  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.4);
}

.cell:focus {
  outline: none;
  z-index: 500;
}

.debug-cell {
  --row: 0;
  --col: 0;
  --diameter: 10px;
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  top: calc((var(--row) + 1) * var(--cellSize));
  left: calc((var(--col) + 1) * var(--cellSize));
  background: red;
  border-radius: 100%;
  z-index: 1000;
  transform: translate(-50%, -50%);

  display: none;
}

.player {
  --row: 0;
  --col: 0;
  --diameter: 35px;
  --posX:1;
  --posY:1;

  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  left: calc((var(--col) + var(--posX)  + 1) * var(--cellSize));
  top: calc((var(--row) + var(--posY)  + 1) * var(--cellSize));
  background: grey;
  border-radius: 100%;
  z-index: 1003;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .1s;
}

.activePlayer {
  background-color: yellow;
}



.player.collide {

  --bumpX: 50%;
  --bumpY: 50%;

  animation: collide .15s normal;
}

.target {
  --row: 0;
  --col: 0;
  --diameter: 15px;
  --posX:1;
  --posY:1;

  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  left: calc((var(--col) + var(--posX)) * var(--cellSize));
  top: calc((var(--row) + var(--posY)) * var(--cellSize));
  background: rgb(0,0,0);
 
  border-radius: 100%;
  border: solid gray 0.5em ;
  /* border-color: grey !important; */
  z-index: 999;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      box-shadow: 0 0 0 20px rgba(255,255,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.activeTarget {

  border: solid 0.5em !important;
  border-color: rgb(255, 255, 0,1) !important;
  z-index: 1000;
  box-shadow: 0 0 0 rgba(255, 255, 0, 1);
  animation: pulse 2s infinite;
}

@keyframes collide {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {

    transform: translate(calc(-50% + var(--bumpX)), calc(-50% + var(--bumpY)));

  }

  100% {
    transform: translate(-50%, -50%);
  }

}


/*PATTERN*/

.pattern {
  width: 100%;
  height: 100%;
 background: #030500;
}

.circle1 {
  --radius: 93%;
  width: var(--radius);
  height: var(--radius);
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(-50%, -50%);
  border: 5px solid aliceblue;
  border-radius: 100%;
}

.circle2 {
  --radius: 93%;
  width: var(--radius);
  height: var(--radius);
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  border: 5px solid aliceblue;
  border-radius: 100%;
}

.template {
  display: none;
}

#startScreen{
  position:absolute;
  left:0%;
  top:0;
  transition: left 1s ease;
  width:100vw;
  height:100vh;
  z-index:1201;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

#startScreen a {
  border: 4px solid black;
  border-radius: 30px;
  padding:10px 30px 15px 30px;
  background-color: white;
  margin-top: 0vh;
  margin-bottom: 10vh;
}

#winScreen{
  position:absolute;
  left:100%;
  top:0;
  transition: left 1s ease;
  width:100vw;
  height:100vh;
  z-index:1201;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

#winScreen a {
  border: 4px solid black;
  background-color: white;
  border-radius: 30px;
  padding:30px;
  margin-top: 10vh;
}